# --- Core Engine ---
pyspark==3.5.0
# py4jはpyspark依存
py4j==0.10.9.7
pydantic>=2.0.0

# --- Data Science Stack ---
# 安定性を考え、1.x系の最新を指定
numpy>=2.0.0
pandas
scipy
scikit-learn
joblib
# SparkとPython間の高速通信に必須
pyarrow
# 今後のスコアアップのため
lightgbm